


.profile{
    display: inline-block;
    text-align: center;
    background-color: rgb(103, 134, 124) ;
    width:271px ;
    outline: 1px solid blueviolet;
}


.description img{
    width: 150px;
}

.stats{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stats li{
    background-color: brown;
    outline: 1px solid blueviolet;
    width: 90px;
    display: flex;
    flex-direction: column;
}
 
.quantity{
    color: white;
}